{% block title %}
   Check In / Check Out
{% endblock %}

{% block main %}
    <form>
        <div class="form-group">
          <label for="Process">Check In or Check Out select</label>
          <select class="form-control" id="Process">
            <option>Check In</option>
            <option>Check Out</option>
          </select>
        </div>
        <div class="form-group">
          <label for="Location">Location select</label>
          <select class="form-control" id="Location">
            <option>First-Year Dorm</option>
            <option>Upperclass House</option>
            <option>Library</option>
            <option>Cafe</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
