<script type="text/javascript" src="extendform.js"></script>
<link rel="stylesheet" type="text/css" href="mystyles.css" media="screen" />
<form>
     <div class="form-group">
       <label for="Process">Check In or Check Out</label>
       <select class="form-control" id="Process">
         <option>Check In</option>
         <option>Check Out</option>
       </select>
     </div>
     <div class="form-group">
       <label for="Location">Location</label>
       <select class="form-control" id="Location">
         <option>Select</option>
         <option>First-Year Dorm</option>
         <option>Upperclass House</option>
         <option>Library</option>
         <option>Cafe</option>
         <option>Smith Center</option>
       </select>
     </div>
     <div>
       <select id="Dorms">
         <option>Apley Court</option>
         <option>Canaday</option>
         <option>Grays</option>
         <option>Greenough</option>
         <option>Hollis</option>
         <option>Holworthy</option>
         <option>Hurlbut</option>
         <option>Lionel</option>
         <option>Mower</option>
         <option>Mass Hall</option>
         <option>Matthews</option>
         <option>Pennypacker</option>
         <option>Stoughton</option>
         <option>Straus</option>
         <option>Thayer</option>
         <option>Weld</option>
         <option>Wigglesworth</option>
       </select>
     </div>
     <div>
       <select id="Houses">
         <option>Adams</option>
         <option>Cabot</option>
         <option>Currier</option>
         <option>Dunster</option>
         <option>Eliot</option>
         <option>Kirkland</option>
         <option>Levertt</option>
         <option>Lowell</option>
         <option>Mather</option>
         <option>Phorzheimer</option>
         <option>Quincy</option>
         <option>Winthrop</option>   
       </select>
     </div>
     <div>
       <select id="Libraries">
         <option>Cabot</option>
         <option>Langdell Law School Library</option>
         <option>Lamont</option>
         <option>Widener</option>
       </select>
     </div>
     <div>
       <select id="Cafes">
         <option>Capital One</option>
         <option>Flour</option>
         <option>Peet's</option>
         <option>Starbucks</option>
         <option>Tatte</option>
       </select>
      </div>
     <button class="btn btn-primary" type="submit">Submit</button>
 </form>
